.home_selection {
  display: flex;
  padding: 30px;
}
.home_selection {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
}
.home_selection::-webkit-scrollbar {
  display: none;
}
.home_selection2 {
  display: flex;
  padding: 30px;
  height: 450px;
  background-color: black;
  color: white;
}
.home_selection2 {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
}
.home_selection2::-webkit-scrollbar {
  display: none;
}
